overlay tracks/3D_BlendOverlay
{
	zorder 540
		overlay_element tracks/3Dblend Panel
		{
			metrics_mode relative
			horz_align left
			vert_align top
			width 0.5
			height 0.5

			left 0.0
			top 0.50
			material tracks/dashblend
		}


}
