overlay tracks/DebugBeamTiming
{
	zorder 10
	container BorderPanel(tracks/DebugBeamTiming/Panel)
	{
        metrics_mode pixels
		horz_align left
		vert_align top
		left 0
		top 0
		width 800
		height 660

		material Core/StatsBlockCenter
            border_size 1 1 1 1
            border_material Core/StatsBlockBorder
            border_topleft_uv     0.0000 1.0000 0.0039 0.9961
            border_top_uv         0.0039 1.0000 0.9961 0.9961
            border_topright_uv    0.9961 1.0000 1.0000 0.9961
            border_left_uv        0.0000 0.9961 0.0039 0.0039
            border_right_uv       0.9961 0.9961 1.0000 0.0039
            border_bottomleft_uv  0.0000 0.0039 0.0039 0.0000
            border_bottom_uv      0.0039 0.0039 0.9961 0.0000
            border_bottomright_uv 0.9961 0.0039 1.0000 0.0000

		container TextArea(tracks/DebugBeamTiming/Text)
		{
			metrics_mode pixels
			left 10
			top 0
			width 250
			height 30
			font_name CyberbitEnglish
			char_height 12
			caption No statistics available
			colour_top 1 1 0.7
			colour_bottom 0.8 0.8 0.5
		}
		container TextArea(tracks/DebugBeamTiming/BeamDebugTextTitle)
		{
			metrics_mode pixels
			left 5
			top 645
			width 200
			height 10
			font_name CyberbitEnglish
			char_height 12
			caption Beam Engine Statistics
			colour_top 0.7 0.7 1
			colour_bottom 0.6 0.6 0.8
		}

	}

	container BorderPanel(tracks/DebugBeamTiming/PanelMaterialDebug)
	{
        metrics_mode pixels
		horz_align left
		vert_align top
		left 800
		top 0
		width 220
		height 660

		material Core/StatsBlockCenter
            border_size 1 1 1 1
            border_material Core/StatsBlockBorder
            border_topleft_uv     0.0000 1.0000 0.0039 0.9961
            border_top_uv         0.0039 1.0000 0.9961 0.9961
            border_topright_uv    0.9961 1.0000 1.0000 0.9961
            border_left_uv        0.0000 0.9961 0.0039 0.0039
            border_right_uv       0.9961 0.9961 1.0000 0.0039
            border_bottomleft_uv  0.0000 0.0039 0.0039 0.0000
            border_bottom_uv      0.0039 0.0039 0.9961 0.0000
            border_bottomright_uv 0.9961 0.0039 1.0000 0.0000

		container BorderPanel(tracks/DebugBeamTiming/MaterialDebug1)
		{
	        metrics_mode pixels
			horz_align left
			vert_align top
			left 10
			top 10
			width 200
			height 150
			material tracks/ReflectionAbove

			container TextArea(tracks/DebugBeamTiming/MaterialDebugText1)
			{
				metrics_mode pixels
				left 0
				top 140
				width 200
				height 10
				font_name CyberbitEnglish
				char_height 12
				caption Reflection Above Water
				colour_top 1 1 0.7
				colour_bottom 0.8 0.8 0.5
			}
		}

		container BorderPanel(tracks/DebugBeamTiming/MaterialDebug2)
		{
	        metrics_mode pixels
			horz_align left
			vert_align top
			left 10
			top 170
			width 200
			height 150
			material tracks/ReflectionBelow
			container TextArea(tracks/DebugBeamTiming/MaterialDebugText2)
			{
				metrics_mode pixels
				left 0
				top 140
				width 200
				height 10
				font_name CyberbitEnglish
				char_height 12
				caption Reflection Below Water
				colour_top 1 1 0.7
				colour_bottom 0.8 0.8 0.5
			}
		}

		container BorderPanel(tracks/DebugBeamTiming/MaterialDebug3)
		{
	        metrics_mode pixels
			horz_align left
			vert_align top
			left 10
			top 330
			width 200
			height 150
			material tracks/RefractionAbove
			container TextArea(tracks/DebugBeamTiming/MaterialDebugText3)
			{
				metrics_mode pixels
				left 0
				top 140
				width 200
				height 10
				font_name CyberbitEnglish
				char_height 12
				caption Refraction Above Water
				colour_top 1 1 0.7
				colour_bottom 0.8 0.8 0.5
			}
		}

		container BorderPanel(tracks/DebugBeamTiming/MaterialDebug4)
		{
	        metrics_mode pixels
			horz_align left
			vert_align top
			left 10
			top 490
			width 200
			height 150
			material tracks/RefractionBelow
			container TextArea(tracks/DebugBeamTiming/MaterialDebugText4)
			{
				metrics_mode pixels
				left 0
				top 140
				width 200
				height 10
				font_name CyberbitEnglish
				char_height 12
				caption Refraction Below Water
				colour_top 1 1 0.7
				colour_bottom 0.8 0.8 0.5
			}
		}

		container TextArea(tracks/DebugBeamTiming/MaterialDebugTextTitle)
		{
			metrics_mode pixels
			left 5
			top 645
			width 200
			height 10
			font_name CyberbitEnglish
			char_height 12
			caption Material Debug
			colour_top 0.7 0.7 1
			colour_bottom 0.6 0.6 0.8
		}
	}
}

