overlay tracks/BoatDashboardOverlay
{
	zorder 20

	container Panel (tracks/boatsteer)
		{
			metrics_mode relative
			horz_align left
			vert_align bottom
			width 0.0
			left 0.3
//this part is recalculated for screen ratio
			top -0.11
			height 0.10
			material tracks/boatsteer/bg_mat
		}

	container Panel (tracks/boatdashbar)
		{
			metrics_mode relative
			horz_align left
			vert_align bottom
//			horz_align center
//			vert_align center
			width 0.0
			left 0.0
//this part is recalculated for screen ratio
			top -0.15
			height 0.01
			material tracks/dashbar
		}

	container Panel (tracks/boatdashfiller)
		{
			metrics_mode relative
			horz_align left
			vert_align bottom
//			horz_align center
//			vert_align center
//			width 0.37
//			left 0.28
			width 0.0
			left 0.0
//this part is recalculated for screen ratio
			top -0.14
			height 0.14
			material tracks/black
		}

			container Panel (tracks/boatspeed)
		{
			metrics_mode relative
			horz_align left
			vert_align bottom
			width 0.11
			left 0.7
//this part is recalculated for screen ratio
			top -0.12
			height 0.11
			material tracks/boatspeed
		}

	container Panel (tracks/boatdepthmeter)
		{
			metrics_mode relative
			horz_align left
			vert_align bottom
			width 0.11
			left 0.52
//this part is recalculated for screen ratio
			top -0.13
			height 0.11
			material tracks/boatdepthmeter
			element TextArea(tracks/boatdepthmeter_val)
			{
				metrics_mode relative
				left 0.024
				width 0.05
				top 0.02
				height 0.05
				//font_name cent_black
				char_height 0.05
				colour_top 1 1 1
				colour_bottom 1 1 1
				caption 25.1
			}
		}

	container Panel (tracks/boatthrusttrack1)
		{
			metrics_mode relative
			horz_align right
			vert_align bottom
			width 0.03
			left -0.10
			top -0.14
			height 0.14
			material tracks/boatthrusttrack
		}
	container Panel (tracks/boatthrusttrack2)
		{
			metrics_mode relative
			horz_align right
			vert_align bottom
			width 0.03
			left -0.06
			top -0.14
			height 0.14
			material tracks/boatthrusttrack
		}

}
