overlay tracks/CreditsOverlay
{
	zorder 600
	container Panel (tracks/filler)
		{
			metrics_mode relative
			horz_align left
			vert_align top
			width 1.0
			left 0.0
			top 0.0
			height 1.0
			material tracks/black
		}
	container Panel (tracks/credits)
		{
			metrics_mode relative
			horz_align left
			vert_align top
			width 1.0
			left 0.0
			top 0.165
			height 0.66
			material tracks/credits
		}


}
