overlay tracks/CreditsOverlay
{
	zorder 600
	overlay_element tracks/filler Panel
		{
			metrics_mode relative
			horz_align left
			vert_align top
			width 1.0
			left 0.0
			top 0.0
			height 1.0
			material tracks/black
		}
	overlay_element tracks/credits Panel
		{
			metrics_mode relative
			horz_align left
			vert_align top
			width 1.0
			left 0.0
			top 0.165
			height 0.66
			material tracks/credits
		}


}
