overlay tracks/DirectionArrow
{
	zorder 600
	overlay_element tracks/DirectionArrow/MainPanel Panel
	{
		transparent true
		material tracks/pointingArrowBackground

		overlay_element tracks/DirectionArrow/Text TextArea
		{
			left 0.005
			top 0.005
			width 0.1
			height 0.02
			font_name highcontrast_black
			char_height 0.03
			caption "next checkpoint"
			colour_top 1 1 1
			colour_bottom 1 1 1
		}

		overlay_element tracks/DirectionArrow/Distance TextArea
		{
			left 0.005
			top 0.065
			width 0.1
			height 0.03
			font_name highcontrast_black
			char_height 0.03
			caption "500m"
			colour_top 1 1 1
			colour_bottom 1 1 1
		}
	}
}
