overlay tracks/EngineOverlay
{
	zorder 100
	overlay_element tracks/EnginePanel BorderPanel
	{
		metrics_mode pixels
		horz_align right
		left -225
		top 5
		width 220
		height 87
		material Core/StatsBlockCenter
        	border_size 1 1 1 1
        	border_material Core/StatsBlockBorder
        	border_topleft_uv     0.0000 1.0000 0.0039 0.9961
	    	border_top_uv         0.0039 1.0000 0.9961 0.9961
	    	border_topright_uv    0.9961 1.0000 1.0000 0.9961
	    	border_left_uv        0.0000 0.9961 0.0039 0.0039
	    	border_right_uv       0.9961 0.9961 1.0000 0.0039
	    	border_bottomleft_uv  0.0000 0.0039 0.0039 0.0000
        	border_bottom_uv      0.0039 0.0039 0.9961 0.0000
	    	border_bottomright_uv 0.9961 0.0039 1.0000 0.0000

		overlay_element tracks/gear TextArea
		{
			metrics_mode pixels
			left 5
			top 25
			width 90
			height 30
			font_name CyberbitEnglish
			char_height 16
			caption "GEAR:"
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		overlay_element tracks/rpm TextArea
		{			metrics_mode pixels
			left 5
			top 40
			width 90
			height 30
			font_name CyberbitEnglish
			char_height 16
			caption "RPM:"
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		overlay_element tracks/speed TextArea
		{
			metrics_mode pixels
			left 5
			top 55
			width 90
			height 30
			font_name CyberbitEnglish
			char_height 16
			caption "SPEED:"
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		overlay_element tracks/debug TextArea
		{
			metrics_mode pixels
			left 5
			top 70
			width 90
			height 30
			font_name CyberbitEnglish
			char_height 16
			caption "DEBUG"
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
	}
}
