overlay tracks/LoaderOverlay/Loader
{
	zorder 10
	container BorderPanel(tracks/LoaderPanel/loader)
	{
		metrics_mode pixels
		horz_align center
		vert_align center
		left -320
		top -200
		width 640
		height 400
		material Core/StatsBlockCenter
			border_size 5 5 5 5
			border_material Core/StatsBlockBorder
			border_topleft_uv     0.0000 1.0000 0.0039 0.9961
			border_top_uv         0.0039 1.0000 0.9961 0.9961
			border_topright_uv    0.9961 1.0000 1.0000 0.9961
			border_left_uv        0.0000 0.9961 0.0039 0.0039
			border_right_uv       0.9961 0.9961 1.0000 0.0039
			border_bottomleft_uv  0.0000 0.0039 0.0039 0.0000
			border_bottom_uv      0.0039 0.0039 0.9961 0.0000
			border_bottomright_uv 0.9961 0.0039 1.0000 0.0000

		container Panel(tracks/BreakPanel.load)
		{
			metrics_mode pixels
			left 10
			top 50
			width 620
			height 5
			material Core/StatsBreak
		}
		element TextArea(tracks/Title/load)
		{
			metrics_mode pixels
			left 10
			top 10
			width 620
			height 60
			font_name CyberbitEnglish
			char_height 40
			caption Loading...
			colour_top 1 1 0.7
			colour_bottom 0.8 0.8 0.5
		}

		element TextArea(tracks/Progress/load)
		{
			//horz_align center
			//vert_align center
			metrics_mode pixels
			left 20
			top 250
			width 600
			height 30
			font_name CyberbitEnglish
			char_height 30
			caption 0% loaded
			colour_top 0.7 1 0.7
			colour_bottom 0.8 0.8 0.8
		}

		container BorderPanel(tracks/CategoryPanel/ProgressBarBorder)
		{
			metrics_mode pixels
			left 20
			top 200
			width 600
			height 25
			border_size 1 1 1 1
			material tracks/graytrans
		}

		container BorderPanel(tracks/CategoryPanel/ProgressBarInner)
		{
			metrics_mode pixels
			left 21
			top 201
			width 10
			height 23
			border_size 0 0 0 0
			material tracks/white
		}

	}
}

overlay tracks/LoaderOverlay/GUI
{
	zorder 10
	container BorderPanel(tracks/LoaderPanel)
	{
		metrics_mode pixels
		horz_align center
		vert_align center
		left -320
		top -200
		width 640
		height 400
		material Core/StatsBlockCenter
			border_size 5 5 5 5
			border_material Core/StatsBlockBorder
			border_topleft_uv     0.0000 1.0000 0.0039 0.9961
			border_top_uv         0.0039 1.0000 0.9961 0.9961
			border_topright_uv    0.9961 1.0000 1.0000 0.9961
			border_left_uv        0.0000 0.9961 0.0039 0.0039
			border_right_uv       0.9961 0.9961 1.0000 0.0039
			border_bottomleft_uv  0.0000 0.0039 0.0039 0.0000
			border_bottom_uv      0.0039 0.0039 0.9961 0.0000
			border_bottomright_uv 0.9961 0.0039 1.0000 0.0000

		container Panel(tracks/BreakPanel)
		{
			metrics_mode pixels
			left 10
			top 50
			width 620
			height 5
			material Core/StatsBreak
		}

		element TextArea(tracks/Title)
		{
			metrics_mode pixels
			left 10
			top 10
			width 620
			height 60
			font_name CyberbitEnglish
			char_height 40
			caption Choose your terrain:
			colour_top 1 1 0.7
			colour_bottom 0.8 0.8 0.5
		}

		element Panel (tracks/picture)
		{
			metrics_mode pixels
			left 374
			top 60
			width 256
			height 256
			material tracks/Viewer
		}

		element TextArea(tracks/authortitle)
		{
			metrics_mode pixels
			left 374
			top 316
			width 256
			height 15
			font_name CyberbitEnglish
			char_height 20
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
			caption Authors:
		}

		element TextArea(tracks/authorline1)
		{
			metrics_mode pixels
			left 374
			top 331
			width 256
			height 15
			font_name CyberbitEnglish
			char_height 20
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
			caption Author 123
		}

		element TextArea(tracks/authorline2)
		{
			metrics_mode pixels
			left 374
			top 346
			width 256
			height 20
			font_name CyberbitEnglish
			char_height 20
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
			caption Author 123
		}

		element TextArea(tracks/authorline3)
		{
			metrics_mode pixels
			left 374
			top 361
			width 256
			height 20
			font_name CyberbitEnglish
			char_height 20
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
			caption Author 123
		}

		element TextArea(tracks/authorline4)
		{
			metrics_mode pixels
			left 374
			top 376
			width 256
			height 20
			font_name CyberbitEnglish
			char_height 20
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
			caption Author 123
		}

		container BorderPanel(tracks/CategoryPanel)
		{
			metrics_mode pixels
			left 10
			top 60
			width 360
			height 25
			border_size 0 0 0 2

			element TextArea(tracks/categoryleftarrow)
			{
				metrics_mode pixels
				left 0
				top 0
				width 10
				height 30
				font_name CyberbitEnglish
				char_height 30
				colour_top 0.5 0.7 0.5
				colour_bottom 0.3 0.5 0.3
				caption <
			}

			element TextArea(tracks/categorytitle)
			{
				metrics_mode pixels
				left 20
				top 0
				width 320
				height 30
				font_name CyberbitEnglish
				horz_align left
				char_height 30
				colour_top 0.5 0.7 0.5
				colour_bottom 0.3 0.5 0.3
				caption All
			}

			element TextArea(tracks/categoryrightarrow)
			{
				metrics_mode pixels
				left 350
				top 0
				width 10
				height 30
				font_name CyberbitEnglish
				char_height 30
				colour_top 0.5 0.7 0.5
				colour_bottom 0.3 0.5 0.3
				caption >
			}
		}

		element TextArea(tracks/line1)
		{
			metrics_mode pixels
			left 10
			top 85
			width 620
			height 40
			font_name CyberbitEnglish
			char_height 30
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		element TextArea(tracks/line2)
		{
			metrics_mode pixels
			left 10
			top 110
			width 620
			height 40
			font_name CyberbitEnglish
			char_height 30
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		element TextArea(tracks/line3)
		{
			metrics_mode pixels
			left 10
			top 135
			width 620
			height 40
			font_name CyberbitEnglish
			char_height 30
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		element TextArea(tracks/line4)
		{
			metrics_mode pixels
			left 10
			top 160
			width 620
			height 40
			font_name CyberbitEnglish
			char_height 30
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		element TextArea(tracks/line5)
		{
			metrics_mode pixels
			left 10
			top 185
			width 620
			height 40
			font_name CyberbitEnglish
			char_height 30
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		element TextArea(tracks/line6)
		{
			metrics_mode pixels
			left 10
			top 210
			width 620
			height 40
			font_name CyberbitEnglish
			char_height 30
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		element TextArea(tracks/line7)
		{
			metrics_mode pixels
			left 10
			top 235
			width 620
			height 40
			font_name CyberbitEnglish
			char_height 30
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		element TextArea(tracks/line8)
		{
			metrics_mode pixels
			left 10
			top 260
			width 620
			height 40
			font_name CyberbitEnglish
			char_height 30
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		element TextArea(tracks/line9)
		{
			metrics_mode pixels
			left 10
			top 285
			width 620
			height 40
			font_name CyberbitEnglish
			char_height 30
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		element TextArea(tracks/line10)
		{
			metrics_mode pixels
			left 10
			top 310
			width 620
			height 40
			font_name CyberbitEnglish
			char_height 30
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		element TextArea(tracks/line11)
		{
			metrics_mode pixels
			left 10
			top 335
			width 620
			height 40
			font_name CyberbitEnglish
			char_height 30
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		element TextArea(tracks/line12)
		{
			metrics_mode pixels
			left 10
			top 360
			width 620
			height 40
			font_name CyberbitEnglish
			char_height 30
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
	}
