overlay tracks/LoaderOverlay/Loader
{
	zorder 10
	overlay_element tracks/LoaderPanel/loader BorderPanel
	{
		metrics_mode pixels
		horz_align center
		vert_align center
		left -320
		top -200
		width 640
		height 400
		material Core/StatsBlockCenter
			border_size 5 5 5 5
			border_material Core/StatsBlockBorder
			border_topleft_uv     0.0000 1.0000 0.0039 0.9961
			border_top_uv         0.0039 1.0000 0.9961 0.9961
			border_topright_uv    0.9961 1.0000 1.0000 0.9961
			border_left_uv        0.0000 0.9961 0.0039 0.0039
			border_right_uv       0.9961 0.9961 1.0000 0.0039
			border_bottomleft_uv  0.0000 0.0039 0.0039 0.0000
			border_bottom_uv      0.0039 0.0039 0.9961 0.0000
			border_bottomright_uv 0.9961 0.0039 1.0000 0.0000

		overlay_element tracks/BreakPanel.load Panel
		{
			metrics_mode pixels
			left 10
			top 50
			width 620
			height 5
			material Core/StatsBreak
		}
		overlay_element tracks/Title/load TextArea
		{
			metrics_mode pixels
			left 10
			top 10
			width 620
			height 60
			font_name CyberbitEnglish
			char_height 40
			caption "Loading..."
			colour_top 1 1 0.7
			colour_bottom 0.8 0.8 0.5
		}

		overlay_element tracks/Progress/load TextArea
		{
			//horz_align center
			//vert_align center
			metrics_mode pixels
			left 20
			top 250
			width 600
			height 30
			font_name CyberbitEnglish
			char_height 30
			caption "0% loaded"
			colour_top 0.7 1 0.7
			colour_bottom 0.8 0.8 0.8
		}

		overlay_element tracks/CategoryPanel/ProgressBarBorder BorderPanel
		{
			metrics_mode pixels
			left 20
			top 200
			width 600
			height 25
			border_size 1 1 1 1
			material tracks/graytrans
		}

		overlay_element tracks/CategoryPanel/ProgressBarInner BorderPanel
		{
			metrics_mode pixels
			left 21
			top 201
			width 10
			height 23
			border_size 0 0 0 0
			material tracks/white
		}

	}
}

overlay tracks/LoaderOverlay/GUI
{
	zorder 10
	overlay_element tracks/LoaderPanel BorderPanel
	{
		metrics_mode pixels
		horz_align center
		vert_align center
		left -320
		top -200
		width 640
		height 400
		material Core/StatsBlockCenter
			border_size 5 5 5 5
			border_material Core/StatsBlockBorder
			border_topleft_uv     0.0000 1.0000 0.0039 0.9961
			border_top_uv         0.0039 1.0000 0.9961 0.9961
			border_topright_uv    0.9961 1.0000 1.0000 0.9961
			border_left_uv        0.0000 0.9961 0.0039 0.0039
			border_right_uv       0.9961 0.9961 1.0000 0.0039
			border_bottomleft_uv  0.0000 0.0039 0.0039 0.0000
			border_bottom_uv      0.0039 0.0039 0.9961 0.0000
			border_bottomright_uv 0.9961 0.0039 1.0000 0.0000

		overlay_element tracks/BreakPanel Panel
		{
			metrics_mode pixels
			left 10
			top 50
			width 620
			height 5
			material Core/StatsBreak
		}

		overlay_element tracks/Title TextArea
		{
			metrics_mode pixels
			left 10
			top 10
			width 620
			height 60
			font_name CyberbitEnglish
			char_height 40
			caption "Choose your terrain:"
			colour_top 1 1 0.7
			colour_bottom 0.8 0.8 0.5
		}

		overlay_element tracks/picture Panel
		{
			metrics_mode pixels
			left 374
			top 60
			width 256
			height 256
			material tracks/Viewer
		}

		overlay_element tracks/authortitle TextArea
		{
			metrics_mode pixels
			left 374
			top 316
			width 256
			height 15
			font_name CyberbitEnglish
			char_height 20
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
			caption "Authors:"
		}

		overlay_element tracks/authorline1 TextArea
		{
			metrics_mode pixels
			left 374
			top 331
			width 256
			height 15
			font_name CyberbitEnglish
			char_height 20
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
			caption "Author 123"
		}

		overlay_element tracks/authorline2 TextArea
		{
			metrics_mode pixels
			left 374
			top 346
			width 256
			height 20
			font_name CyberbitEnglish
			char_height 20
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
			caption "Author 123"
		}

		overlay_element tracks/authorline3 TextArea
		{
			metrics_mode pixels
			left 374
			top 361
			width 256
			height 20
			font_name CyberbitEnglish
			char_height 20
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
			caption "Author 123"
		}

		overlay_element tracks/authorline4 TextArea
		{
			metrics_mode pixels
			left 374
			top 376
			width 256
			height 20
			font_name CyberbitEnglish
			char_height 20
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
			caption "Author 123"
		}

		overlay_element tracks/CategoryPanel BorderPanel
		{
			metrics_mode pixels
			left 10
			top 60
			width 360
			height 25
			border_size 0 0 0 2

			overlay_element tracks/categoryleftarrow TextArea
			{
				metrics_mode pixels
				left 0
				top 0
				width 10
				height 30
				font_name CyberbitEnglish
				char_height 30
				colour_top 0.5 0.7 0.5
				colour_bottom 0.3 0.5 0.3
				caption "<"
			}

			overlay_element tracks/categorytitle TextArea
			{
				metrics_mode pixels
				left 20
				top 0
				width 320
				height 30
				font_name CyberbitEnglish
				horz_align left
				char_height 30
				colour_top 0.5 0.7 0.5
				colour_bottom 0.3 0.5 0.3
				caption "All"
			}

			overlay_element tracks/categoryrightarrow TextArea
			{
				metrics_mode pixels
				left 350
				top 0
				width 10
				height 30
				font_name CyberbitEnglish
				char_height 30
				colour_top 0.5 0.7 0.5
				colour_bottom 0.3 0.5 0.3
				caption ">"
			}
		}

		overlay_element tracks/line1 TextArea
		{
			metrics_mode pixels
			left 10
			top 85
			width 620
			height 40
			font_name CyberbitEnglish
			char_height 30
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		overlay_element tracks/line2 TextArea
		{
			metrics_mode pixels
			left 10
			top 110
			width 620
			height 40
			font_name CyberbitEnglish
			char_height 30
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		overlay_element tracks/line3 TextArea
		{
			metrics_mode pixels
			left 10
			top 135
			width 620
			height 40
			font_name CyberbitEnglish
			char_height 30
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		overlay_element tracks/line4 TextArea
		{
			metrics_mode pixels
			left 10
			top 160
			width 620
			height 40
			font_name CyberbitEnglish
			char_height 30
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		overlay_element tracks/line5 TextArea
		{
			metrics_mode pixels
			left 10
			top 185
			width 620
			height 40
			font_name CyberbitEnglish
			char_height 30
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		overlay_element tracks/line6 TextArea
		{
			metrics_mode pixels
			left 10
			top 210
			width 620
			height 40
			font_name CyberbitEnglish
			char_height 30
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		overlay_element tracks/line7 TextArea
		{
			metrics_mode pixels
			left 10
			top 235
			width 620
			height 40
			font_name CyberbitEnglish
			char_height 30
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		overlay_element tracks/line8 TextArea
		{
			metrics_mode pixels
			left 10
			top 260
			width 620
			height 40
			font_name CyberbitEnglish
			char_height 30
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		overlay_element tracks/line9 TextArea
		{
			metrics_mode pixels
			left 10
			top 285
			width 620
			height 40
			font_name CyberbitEnglish
			char_height 30
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		overlay_element tracks/line10 TextArea
		{
			metrics_mode pixels
			left 10
			top 310
			width 620
			height 40
			font_name CyberbitEnglish
			char_height 30
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		overlay_element tracks/line11 TextArea
		{
			metrics_mode pixels
			left 10
			top 335
			width 620
			height 40
			font_name CyberbitEnglish
			char_height 30
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		overlay_element tracks/line12 TextArea
		{
			metrics_mode pixels
			left 10
			top 360
			width 620
			height 40
			font_name CyberbitEnglish
			char_height 30
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
	}
