overlay tracks/MachineDashboardOverlay
{
	zorder 20
	overlay_element tracks/machineinstructions Panel
		{
			metrics_mode relative
			horz_align left
			vert_align bottom
//			horz_align center
//			vert_align center
			width 0.14
			left 0.14
//this part is recalculated for screen ratio
			top -0.14
			height 0.14
			material tracks/instructions
		}
	overlay_element tracks/machinehelppanel Panel
		{
			metrics_mode relative
			horz_align left
			vert_align bottom
//			horz_align center
//			vert_align center
			width 0.56
			left 0.28
//this part is recalculated for screen ratio
			top -0.14
			height 0.14
			material tracks/black
		}

	overlay_element tracks/machinedashbar Panel
		{
			metrics_mode relative
			horz_align left
			vert_align bottom
//			horz_align center
//			vert_align center
			width 1.0
			left 0.0
//this part is recalculated for screen ratio
			top -0.15
			height 0.01
			material tracks/dashbar
		}

	overlay_element tracks/machinedashfiller Panel
		{
			metrics_mode relative
			horz_align left
			vert_align bottom
//			horz_align center
//			vert_align center
			width 1
			left 0
//this part is recalculated for screen ratio
			top -0.14
			height 0.14
			material tracks/black
		}


}
