overlay tracks/Racing
{
	zorder 100
	overlay_element tracks/Racing/MainPanel Panel
	{
		top 0.005

		overlay_element tracks/Racing/LapTime TextArea
		{
			metrics_mode relative
			horz_align center

			top 0.0
			width 0.3
			height 0.1
			font_name highcontrast_black
			alignment center
			char_height 0.03
			caption "--'--.--"
		}
		overlay_element tracks/Racing/BestLapTime TextArea
		{
			metrics_mode relative
			horz_align center

			top 0.025
			width 0.3
			height 0.1
			font_name highcontrast_black
			alignment center
			char_height 0.02
			caption "--'--.--"
		}
	}
}
