CMakeFiles
Solution/
cmake_install.cmake
Makefile
CMakeCache.txt
CPackConfig.cmake
EnabledFeatures.txt
CPackSourceConfig.cmake
CMakeTmp
build_x86
build_x64
dependencies/
bin/RoR
bin/RoRConfig
bin/libangelscript_addons.a
bin/libversion_info.a
bin/Release/
bin/plugins.cfg
bin/RelWithDebInfo/
source/version_info/version_def.h
source/version_info/version_info.cpp
ror-dependencies-*.zip
dependencies-*.zip
_build
0_build
build/
libangelscript_addons*.a
.idea
cmake-build-release
cmake-build-debug
/.vs
build/
tools/l10n/tx/
tools/l10n/languages/
tools/l10n/ror\.pot

tools/l10n/TMP.pot

.vscode/
