[submodule "content"]
	path = content
	url = https://github.com/RigsOfRods/content.git
[submodule "pagedgeometry"]
	path = external/pagedgeometry
	url = https://github.com/RigsOfRods/ogre-pagedgeometry.git
[submodule "caelum"]
	path =  external/caelum
	url = https://github.com/OGRECave/ogre-caelum.git
