language: cpp
sudo: required

compiler:
  - gcc
#  - clang

before_install:
  # Show some information about the underlying system
  - cat /etc/issue                             # Distribution
  - uname -a                                   # Linux Kernel version
  - cat /proc/cpuinfo | grep -m1 "model name"  # CPU model

  # Make our build scripts executable
  - chmod +x ./tools/travis/linux/dependencies.sh
  - chmod +x ./tools/travis/linux/build.sh

  # The following updates are needed for Travis VM running Ubuntu 12.04 and should be removed when Travis updates their OS
  # update gcc for C++11 support
  - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
  - sudo add-apt-repository ppa:boost-latest/ppa -y
  - sudo apt-get update -qq
  - if [ "$CXX" = "g++" ]; then sudo apt-get install -qq g++-4.8; fi
  - if [ "$CXX" = "g++" ]; then export CXX="g++-4.8" CC="gcc-4.8"; fi
  
  # update Boost to fix C++11 bug
  - sudo apt-get install -qq libboost1.55-all-dev

install:
  - ./tools/travis/linux/dependencies.sh

script:
  - ./tools/travis/linux/build.sh

notifications:
  irc:
    template:
      - "%{repository}#%{build_number} %{commit} %{author}: %{message} %{build_url}"
    channels:
      - "irc.freenode.org#rigsofrods-dev"
    use_notice: true
    skip_join: true

  webhooks:
    urls:
      - https://webhooks.gitter.im/e/cc9257d43908894e2e27
    on_success: always  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: false     # default: false
