dist: xenial
sudo: required
language: c

cache:
  directories:
    - $HOME/.conan/

addons:
  apt:
    packages:
    - pkg-config
    - ninja-build
    - libfreetype6-dev
    - libfreeimage-dev
    - libzzip-dev
    - libois-dev
    - libgl1-mesa-dev
    - libglu1-mesa-dev
    - libx11-dev
    - libxt-dev
    - libxaw7-dev
    - libxrandr-dev
    - libgtk2.0-dev
    - libwxgtk3.0-dev

install:
  - wget https://dl.bintray.com/conan/installers/conan-ubuntu-64_1_7_2.deb
  - sudo dpkg -i conan-ubuntu-64_1_7_2.deb
  - conan user
  - conan remote add ror-dependencies https://api.bintray.com/conan/anotherfoxguy/ror-dependencies || true
  - conan remote add bincrafters-public-conan https://api.bintray.com/conan/bincrafters/public-conan || true
  - conan install --build=missing -u .

script:
  - cmake -GNinja .
  - ninja
