dist: trusty
language: cpp
sudo: false

cache:
  directories:
    - $HOME/deps-install

compiler: gcc


addons:
  apt:
    sources:
      - boost-latest
    packages:
      - libboost1.55-all-dev
      - doxygen
      - graphviz
      - pkg-config
      - libfreetype6-dev
      - libfreeimage-dev
      - libzzip-dev
      - libois-dev
      - libgl1-mesa-dev
      - libglu1-mesa-dev
      - libopenal-dev
      - libx11-dev
      - libxt-dev
      - libxaw7-dev
      - libxrandr-dev
      - libssl-dev
      - libcurl4-openssl-dev
      - libgtk2.0-dev
      - libwxgtk2.8-dev
      - libjsoncpp-dev

before_install:
  # show some information about the build host
  - cat /proc/cpuinfo | grep -m1 "model name"  # CPU model

install:
  - export DEPS_BUILD_DIR=$HOME/deps-build
  - export DEPS_INSTALL_DIR=$HOME/deps-install
  - export PKG_CONFIG_PATH=$DEPS_INSTALL_DIR/lib/pkgconfig
  # build dependencies if cached dir is empty
  - if [ ! "$(ls -A $HOME/deps-install)" ]; then sh ./tools/travis/linux/dependencies.sh; fi
script:
  - sh ./tools/travis/linux/build.sh

after_success:
  - sh ./tools/travis/linux/deploy_docs.sh


notifications:
  email: false
  irc:
    template:
      - "%{repository}#%{build_number} %{commit} %{author}: %{message} %{build_url}"
    channels:
      - "irc.freenode.org#rigsofrods-dev"
    use_notice: true
    on_success: change
    on_failure: always

  webhooks:
    urls:
      - https://webhooks.gitter.im/e/cc9257d43908894e2e27
    on_success: always  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: false     # default: false
