dist: xenial
sudo: required
language: c

cache:
  directories:
    - $HOME/.conan/

addons:
  apt:
    packages:
    - p7zip-full
    - pkg-config
    - ninja-build
    - nvidia-cg-toolkit
    - libfreetype6-dev
    - libfreeimage-dev
    - libzzip-dev
    - libois-dev
    - libgl1-mesa-dev
    - libglu1-mesa-dev
    - libx11-dev
    - libxt-dev
    - libxaw7-dev
    - libxrandr-dev
    - libgtk2.0-dev
    - libwxgtk3.0-dev

install:
  - sudo rm -rf /usr/local/cmake-3.9.2/
  - sudo rm -f /usr/local/cmake
  - sudo pip install cmake conan --ignore-installed
  - conan user

script:
  - cmake -GNinja -DCMAKE_BUILD_TYPE=Release -DBUILD_REDIST_FOLDER=ON .
  - ninja

after_success:
  - if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then sh ./tools/CI/upload-CI-build.sh; fi
