[Desktop Entry]
Name=Rigs of Rods Config
GenericName=Rigs of Rods Config
Comment=Rigs of Rods Configurator
Exec=/usr/games/RoR/RoRConfig
Terminal=false
Type=Application
StartupNotify=false
MimeType=text/plain;
Icon=rorconf
Categories=GNOME;GTK;Game;Simulator;
