// Ogre overlay scripts
overlay Core/DebugOverlay
{
	zorder 500
	// Stats block
	overlay_element Core/StatPanel BorderPanel
	{ 
		metrics_mode pixels
		vert_align bottom
		left 5
		top -165
		width 260
		height 160
		material Core/StatsBlockCenter
        	border_size 1 1 1 1
        	border_material Core/StatsBlockBorder
        	border_topleft_uv     0.0000 1.0000 0.0039 0.9961
	    	border_top_uv         0.0039 1.0000 0.9961 0.9961
	    	border_topright_uv    0.9961 1.0000 1.0000 0.9961
	    	border_left_uv        0.0000 0.9961 0.0039 0.0039
	    	border_right_uv       0.9961 0.9961 1.0000 0.0039
	    	border_bottomleft_uv  0.0000 0.0039 0.0039 0.0000
        	border_bottom_uv      0.0039 0.0039 0.9961 0.0000
	    	border_bottomright_uv 0.9961 0.0039 1.0000 0.0000

		overlay_element Core/BreakPanel Panel
		{
			metrics_mode pixels
			left 5
			top 22
			width 250
			height 1
			material Core/StatsBreak
		}

		overlay_element Core/CurrFps TextArea
		{
			metrics_mode pixels
			left 5
			top 5
			width 90
			height 30
			font_name cent
			char_height 19
			caption "Current FPS:"
			colour_top 1 1 0.7
			colour_bottom 1 1 0.7
		}
		overlay_element Core/AverageFps TextArea
		{
			metrics_mode pixels
			left 5
			top 25
			width 90
			height 30
			font_name cent
			char_height 16
			caption "AVERAGE FPS:"
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		overlay_element Core/WorstFps TextArea
		{
			metrics_mode pixels
			left 5
			top 40
			width 90
			height 30
			font_name cent
			char_height 16
			caption "WORST FPS:"
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		overlay_element Core/BestFps TextArea
		{
			metrics_mode pixels
			left 5
			top 55
			width 90
			height 30
			font_name cent
			char_height 16
			caption "BEST FPS:"
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		overlay_element Core/NumTris TextArea
		{
			metrics_mode pixels
			left 5
			top 70
			width 90
			height 30
			font_name cent
			char_height 16
			caption "Triangle Count:"
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		overlay_element Core/DebugText TextArea
		{
			metrics_mode pixels
			left 5
			top 85
			width 250
			height 120
			font_name cent
			char_height 16
			colour_top 0.5 0.8 0.5
			colour_bottom 0.3 0.6 0.3
		}

	}

	overlay_element Core/MemoryPanel BorderPanel
	{
		metrics_mode pixels
		vert_align bottom
		left 280
		top -165
		width 260
		height 160
		material Core/StatsBlockCenter
        	border_size 1 1 1 1
        	border_material Core/StatsBlockBorder
        	border_topleft_uv     0.0000 1.0000 0.0039 0.9961
	    	border_top_uv         0.0039 1.0000 0.9961 0.9961
	    	border_topright_uv    0.9961 1.0000 1.0000 0.9961
	    	border_left_uv        0.0000 0.9961 0.0039 0.0039
	    	border_right_uv       0.9961 0.9961 1.0000 0.0039
	    	border_bottomleft_uv  0.0000 0.0039 0.0039 0.0000
        	border_bottom_uv      0.0039 0.0039 0.9961 0.0000
	    	border_bottomright_uv 0.9961 0.0039 1.0000 0.0000
			
		overlay_element Core/BreakPanel2 Panel
		{
			metrics_mode pixels
			left 5
			top 22
			width 250
			height 1
			material Core/StatsBreak
		}

		overlay_element Core/CurrMemory TextArea
		{
			metrics_mode pixels
			left 5
			top 5
			width 90
			height 30
			font_name cent
			char_height 19
			caption "."
			colour_top 1 1 0.7
			colour_bottom 1 1 0.7
		}
		
		overlay_element Core/MemoryText TextArea
		{
			metrics_mode pixels
			left 5
			top 25
			width 90
			height 120
			font_name cent
			char_height 16
			caption "."
			colour_top 0.5 0.8 0.5
			colour_bottom 0.3 0.6 0.3
		}
	}
	
	overlay_element Core/LogoPanel Panel
	{
		metrics_mode pixels
		horz_align right
		vert_align bottom
		top -75
		left -165
		width 150
		height 75
		material Core/OgreText
	}
	
	overlay_element Core/VersionStringPanel Panel
	{
		metrics_mode pixels
		horz_align right
		vert_align top
		top 0
		left -175
		width 175
		height 20
		
		overlay_element Core/RoRVersionString TextArea
		{
			metrics_mode pixels
			left 0
			top 0
			width 100
			height 120
			font_name cent
			char_height 16
			caption "Rigs of Rods"
			colour_top 1 1 1
			colour_bottom 0 0 0
		}		
	}
	
}

// A silly example of how you would do a 3D cockpit
//Examples/KnotCockpit
//{
//	zorder 100
//	entity knot.mesh(hudKnot)
//	{
//		position 0 0 -50
//		rotation 0 0 0 0
//	}
//
//}
